@using JagoRTT.domain.Entities
@model Tool

@{
    ViewData["Title"] = "Details";
}
<br/>
<h3>Details of the tool</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            Quantity In Stock
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityInStock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn border-success">Edit</a> |
    <a asp-action="Index" class="btn border-success">Back to List</a>
</div>
