@model IEnumerable<EmployeeVM>
@using JagoRTT.Application.ViewModel

@{
    ViewData["Title"] = "Index";
}
@if (TempData["success"]!= null)
{
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    </script>
}
<head>
            <script src="https://kit.fontawesome.com/ca515fdac4.js" crossorigin="anonymous"></script>
</head>
<br/>
<h3>Employee</h3>

<p>
    <a asp-action="Create" class="btn btn-outline-success"><i class="fas fa-address-card"></i> New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              Name
            </th>
            <th>
               CPF
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Company
            </th>
            <th>
                Tool
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToolName)
            </td>
            <td>
                 @*<a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |*@
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
